.app {
    display: flex;
    flex-direction: column;
    background-color: rgb(14, 17, 19);
}

.grid-container {
    min-height: calc(100vh - 57px);
}

.subgrid-container {
    display: flex;
    width: 1120px;
    padding: 0 24px;
}

.main-container {
    display: flex;

}

@media(max-width: 1200px) {
    .subgrid-container {
        margin-left: 0px;
    }
}