header {
    height: 57px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    background-color: rgb(14, 17, 19);
    border-bottom: 1px solid rgb(62, 65,66);
}

svg {
    fill: white;
}

.left svg {
    height: 22px;
}

.left img {
    height: 32px;
}

.mid svg {
    height: 16px;
}

.right svg {
    height: 20px;
}

.right img {
    height: 32px;
    border-radius: 100%
}

.left {
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 24px;
}

.mid {
    flex: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 560px;
    display: flex;
    min-width: 0;
}

.input-wrapper {
    position: relative;
    display: flex;
    padding: 11.5px 12px 11.5px 16px;
    background-color: rgb(42, 50, 54);
    max-width: 560px;
    width: 100%;
    border-radius: 999px;
}

.input-wrapper span {
    position: absolute;
    display: flex;
}

.input-wrapper input {
    flex: 1;
    font-weight: 400;
    color: white;
    background: none;
    outline: none;
    border: none;
    padding: 0 22px;
}

.input-wrapper input::placeholder {
    color: rgb(139, 162, 173)
}

.right {
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 16px;
}

.right a, .right button, .left button {
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    outline: none;
    background: none;
    border-radius: 999px;
}

.right a:hover, .right button:hover, .left button:hover {
    cursor: pointer;
    background-color: rgb(51, 61, 66)
}

.left button {
    padding: 4px;
    margin-right: 4px;
}

@media(max-width: 1200px) {
    .header {
        justify-content: none;
    }

    .mid {
        flex: 1;
        position: inherit;
        left: 0;
        transform: none;
        display: flex;
        justify-content: center;
        min-width: 0;
    }

}