main {
    display: flex;
    flex-direction: column;
    color: white;
    width: 732px;
}

main hr {
    border: none;
    margin: 0;
    height: .5px;
    background-color: rgb(38, 40, 42);
}

.top {
    display: flex;
    margin: 8px 4px;
}

.top button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    font-size: 12px;
    border-radius: 999px;
    padding: 0px 7px 0px 11px;
    height: 32px;
}

.top button, .top button svg {
    fill: #8Ba2Ad;;
    color: #8Ba2Ad;;;
} 

.top button span {
    display: flex;
    align-items: center;
}

.top button span:last-child {
    margin-left: 4px;
}

.top button:hover {
    background-color: rgb(61, 73, 78);
}

/* .top button span {
    display: flex;
    align-items: center;
} */

@media(max-width: 1200px) {
    main{
        width: 756px;
    }
}

@media(max-width: 959px) {
    main {
        max-width: 100%;
        flex: 1;
    }
}