main {
    background-color: rgb(25, 25, 25);
    color: white;
    width: 732px;
}

@media(max-width: 1200px) {
    main{
        width: 756px;
    }
}

@media(max-width: 959px) {
    main {
        max-width: 100%;
        flex: 1;
    }
}