.sidebar {
    position: fixed;
    top: 57px;
    left: -240px;
    width: 271px;
    display: flex;
    height: calc(100vh - 57px);
    border-right: 1px solid rgb(62, 65,66);
    transition: left 0.3s ease-in-out;
    background-color: rgb(14, 17, 19);
    z-index: 999;
}

.hoverable-target {
    position: fixed;
    left: 0;
    top: 128px;
    height: calc(100% - 128px);
    width: 48px;
}

.sidebar.hovered, .sidebar.expanded {
    left: 0;
}

.sidebar.expanded + .main-container {
    margin-left: 272px;
}

.hoverable-target.hovered {
    top: 57px;
    width: 0;
    height: calc(100% - 57px);
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-sizing: border-box;
    background-color: black;
    cursor: pointer;
    border: .5px solid rgb(133, 135, 136);
    border-radius: 999px;
    top: 19px;
    height: 32px;
    width: 32px;
    right: -16px;
    z-index: 101;
}

.nav-container {
    overflow-y: visible;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-container::-webkit-scrollbar {
    width: 10px;
}

.nav-container::-webkit-scrollbar-thumb {
    display: none;
    background: rgb(62, 65, 66);
    border-radius: 999px;
    border: 3px solid transparent;
    background-clip: content-box;
}

.nav-container:hover::-webkit-scrollbar-thumb {
    display: block;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 16px 24px 0 16px;
    font-size: 14px;
    margin-top: -1px;
}

nav a {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 32px;
}

nav a span {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
}

nav a > span > span:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
}

ul {
    list-style: none;
}

.option span {
    display: flex;
    align-items: center;
    font-weight: 400;
    gap: 8px;
}

.option span span:first-child {
    justify-content: center;
    width: 32px;
    height: 32px;
}

details[open] summary span span:last-child {
    transform: rotate(180deg);
}

details hr {
    background-color: rgb(65, 65, 66);
}

.option, details {
    cursor: pointer;
}

summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

summary span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

summary span:first-child {
    text-transform: uppercase;
    color: #748791;
    letter-spacing: 1.2px;
    font-weight: 400;
    padding: 6px 0;
}

summary span span:last-child {
    transition: transform 0.3s ease;
}

.community-item span {
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    color: white;
    font-weight: 400;
    gap: 8px;
    min-width: 0;
}

.community-item span span:nth-child(2) {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.community-item span button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
    border-radius: 999px;
}

.community-item span button:hover {
    background-color: rgb(51, 61, 66);
}

.community-item span span:first-child, .community-item span button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
}

.copyright-link-container {
    margin-top: 18px;
    padding: 16px 0;
}

.copyright-link {
    color: #ACACAC;
    height: auto;
    width: auto;
    font-size: 10px;
    padding: 1px 16px;
}

.copyright-link:hover {
    background: none;
    text-decoration: underline;
}

nav a, .option, summary, .community-item {
    padding: 4px 16px;
    border-radius: 8px;
}

nav a:hover, .option:hover, summary:hover, .community-item:hover {
    background-color: rgb(24, 28, 31);
}

nav a, .option span {
    color: #DBE4E9;
}

nav a > span > span:nth-child(2), .option span span:last-child {
    padding-bottom: 1px;
}

hr {
    border: none;
    height: .5px;
    background-color: rgb(38, 40, 42);
    margin-top: .75rem;
    margin-bottom: .75rem;
}

@media only screen and (max-width: 1200px)  {
    .sidebar {
        display: none;
    }
}