.sidebar {
    position: fixed;
    top: 57px;
    left: -240px;
    width: 271px;
    display: flex;
    height: calc(100vh - 57px);
    border-right: 1px solid rgb(62, 65,66);
    transition: left 0.3s ease-in-out;
    background-color: rgb(14, 17, 19);
    z-index: 999;
}

.hoverable-target {
    position: fixed;
    left: 0;
    top: 128px;
    height: calc(100% - 128px);
    width: 48px;
    z-index: 101;
}

.sidebar.hovered, .sidebar.expanded {
    left: 0;
}

.sidebar.expanded + .main-container {
    margin-left: 272px;
}

.hoverable-target.hovered {
    top: 57px;
    width: 288px;
    height: calc(100% - 57px);
    z-index: 100;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-sizing: border-box;
    background-color: black;
    cursor: pointer;
    border: .5px solid rgb(133, 135, 136);
    border-radius: 999px;
    top: 19px;
    height: 32px;
    width: 32px;
    right: -16px;
    z-index: 101;
}

.nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 16px 24px 0 16px;
    font-size: 14px;
}

nav a {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 32px;
    padding: 4px 16px;
    border-radius: 10px;
}

nav a:hover {
    background-color: rgb(24, 28, 31);
}

nav a span {
    display: flex;
}